html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: url("https://scontent-lga3-1.xx.fbcdn.net/v/t31.0-8/17855530_10155003075460516_28531051085030535_o.jpg?_nc_cat=108&_nc_sid=daf655&_nc_ohc=d09LCrWsVgcAX91WyVT&_nc_ht=scontent-lga3-1.xx&oh=cd33d31500c3ca0eda05b531feda754e&oe=5EA64493");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  position: relative;
  font-family: 'Baloo Thambi 2', cursive;
}

h1 {
  color: #E55934;
  font-size: 50px;
}

p {
  color: #E55934;
  font-size: 40px;
  font-weight: 200;
}

a {
  color: rgb(255,50,0);
  font-size: 23px;
  display: block;
}

span {
  font-size: 20px;
}

/* ":hover" will effect the color
 of links when you "mouseover" */
a:hover,
a:visited:hover {
  color: rgb(0,0,244);
}

/* ":visited" will effect the color
 of links you have previously clicked on */
a:visited {
  color: #5BC0EB;
}

.link-heading {
  display: block;
  font-size: 30px;
}

.square-one .inner {
  background: #003049;
}

.square-two .inner {
  background: #D62828;
}

.square-three .inner {
  background: #F77F00;
}

.outer {
  box-sizing: border-box;
  padding: 40px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: flex-start;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
  align-items: stretch;
}

.left {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.right {
  flex-grow: 1;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrap {
  position: relative;
  width: 340px;
  height: 345px;
  box-sizing: border-box;
  margin: 0 auto;
}

.square {
  position: absolute;
  display: flex;
  height: 240px;
  width: 240px;
  transition: all 1.5s ease-out;
  -webkit-transition: all 1.5s ease-out;
  -moz-transition: all 1.5s ease-out;
}

.wrap:hover .square-one {
  left: 48px;
  top: 52px;
}

.square-one {
  left: 0;
  top: 0;
}

.square-two {
  left: 52px;
  top: 52px;
}

.wrap:hover .square-three {
  left: 56px;
  top: 52px;
}

.square-three {
  left: 104px;
  top: 104px;
}

.inner {
  height: 240px;
  width: 4px;
  margin-right: 8px;
}
